<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.holandago.wbamanager" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ActionBarTheme" >
        <activity
            android:name=".ordersmanager.OperationsList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ordersmanager.DisplayLotsActivity"
            android:label="@string/title_activity_display_lots"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ordersmanager.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ordersmanager.DisplayOperationActivity"
            android:label="@string/title_activity_display_operation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
